.card__like_active {
  width: 22px;
  margin-left: auto;
  background-image: url(../../../../images/heart_active.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}